In [1]:
import csv
import pandas as pd
import numpy as np
import operator

In [3]:
# Read airquality data
df = pd.read_csv('../data/final_data.csv', parse_dates=['date'])

In [4]:
df.head()

,Unnamed: 0,date,county,acresBurned,numFires,YTDRain,dailyRain,y_aq,x_aq,value_aq,@sin,@cos,@angle,position,airQuality,layer,maxTemp,minTemp
0,0,2014-01-01,Butte,60.0,1.0,NaN,NaN,0.999852,0.017213,1.0,0.017213,0.999852,0.986301,1.0,58.6,66%,NaN,NaN
1,1,2014-01-01,Butte,60.0,1.0,NaN,NaN,0.999852,0.017213,1.0,0.017213,0.999852,0.986301,1.0,58.6,33%,NaN,NaN
2,2,2014-01-01,Butte,60.0,1.0,NaN,NaN,0.999852,0.017213,1.0,0.017213,0.999852,0.986301,1.0,58.6,100%,NaN,NaN
3,3,2014-01-01,Butte,60.0,1.0,NaN,NaN,39.727446,0.683944,59.6,0.017213,0.999852,0.986301,0.0,58.6,66%,NaN,NaN
4,4,2014-01-01,Butte,60.0,1.0,NaN,NaN,19.863723,0.341972,59.6,0.017213,0.999852,0.986301,0.0,58.6,33%,NaN,NaN

In [5]:
df['date']

0         2014-01-01
1         2014-01-01
2         2014-01-01
3         2014-01-01
4         2014-01-01
             ...
2606946   2020-12-06
2606947   2020-12-07
2606948   2020-12-08
2606949   2020-12-09
2606950   2020-12-10
Name: date, Length: 2606951, dtype: datetime64[ns]

In [7]:
# Write resulting data to csv
df.to_csv('../data/final_data_dates.csv', index=False)