In [50]:
import json
import csv
import pandas

In [51]:
# Read sample data
with open('../data_raw/airquality/2003.json') as json_file: 
    data = json.load(json_file) 
  
airquality_data = data['Data']

In [52]:
# Convert json to dataframe
df = pandas.read_json(json.dumps(airquality_data))

In [53]:
df.describe()

,state_code,county_code,site_number,parameter_code,poc,latitude,longitude,observation_count,observation_percent,arithmetic_mean,first_max_value,first_max_hour,aqi,method_code,cbsa_code
count,46010.0,46010.000000,46010.000000,46010.0,46010.000000,46010.000000,46010.000000,46010.0,46010.0,46010.000000,46010.000000,46010.000000,46010.000000,46010.000000,44302.000000
mean,6.0,56.888372,1441.345664,88101.0,1.056509,35.756382,-119.314183,1.0,100.0,14.132158,14.132158,0.001478,49.305455,119.166268,35062.260846
std,0.0,27.840703,2229.576574,0.0,0.230905,2.243444,1.984017,0.0,0.0,11.664101,11.664101,0.113806,28.093005,1.276164,9346.458008
min,6.0,1.000000,1.000000,88101.0,1.000000,32.631242,-124.162100,1.0,100.0,0.400000,0.400000,0.000000,2.000000,117.000000,12540.000000
25%,6.0,37.000000,6.000000,88101.0,1.000000,33.999580,-121.368014,1.0,100.0,6.900000,6.900000,0.000000,29.000000,118.000000,31080.000000
50%,6.0,65.000000,1001.000000,88101.0,1.000000,35.283864,-118.966520,1.0,100.0,11.000000,11.000000,0.000000,46.000000,120.000000,40140.000000
75%,6.0,73.000000,2002.000000,88101.0,1.000000,37.765946,-117.690889,1.0,100.0,17.400000,17.400000,0.000000,62.000000,120.000000,41740.000000
max,6.0,113.000000,9033.000000,88101.0,2.000000,41.483225,-115.483070,1.0,100.0,239.200000,239.200000,10.000000,289.000000,120.000000,49700.000000

In [54]:
df.head(5)

,state_code,county_code,site_number,parameter_code,poc,latitude,longitude,datum,parameter,sample_duration,...,method_code,method,local_site_name,site_address,state,county,city,cbsa_code,cbsa,date_of_last_change
0,6,19,5025,88101,1,36.72639,-119.733,WGS84,PM2.5 - Local Conditions,24 HOUR,...,120,Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...,Fresno-Pacific,"1716 WINERY, FRESNO CA 93726",California,Fresno,Fresno,23420.0,"Fresno, CA",2015-04-02
1,6,19,5025,88101,1,36.72639,-119.733,WGS84,PM2.5 - Local Conditions,24 HOUR,...,120,Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...,Fresno-Pacific,"1716 WINERY, FRESNO CA 93726",California,Fresno,Fresno,23420.0,"Fresno, CA",2015-04-02
2,6,19,5025,88101,1,36.72639,-119.733,WGS84,PM2.5 - Local Conditions,24 HOUR,...,120,Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...,Fresno-Pacific,"1716 WINERY, FRESNO CA 93726",California,Fresno,Fresno,23420.0,"Fresno, CA",2015-04-02
3,6,19,5025,88101,1,36.72639,-119.733,WGS84,PM2.5 - Local Conditions,24 HOUR,...,120,Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...,Fresno-Pacific,"1716 WINERY, FRESNO CA 93726",California,Fresno,Fresno,23420.0,"Fresno, CA",2015-04-02
4,6,19,5025,88101,1,36.72639,-119.733,WGS84,PM2.5 - Local Conditions,24 HOUR,...,120,Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...,Fresno-Pacific,"1716 WINERY, FRESNO CA 93726",California,Fresno,Fresno,23420.0,"Fresno, CA",2015-04-02

In [55]:
# Filter to the desired columns
df_filter = df.filter(['latitude', 'longitude', 'date_local', 'parameter', 'county', 'city', 'aqi', 'observation_count'], axis=1)

In [56]:
df_filter.head(10)

,latitude,longitude,date_local,parameter,county,city,aqi,observation_count
0,36.72639,-119.733,2003-01-03,PM2.5 - Local Conditions,Fresno,Fresno,121,1
1,36.72639,-119.733,2003-01-06,PM2.5 - Local Conditions,Fresno,Fresno,136,1
2,36.72639,-119.733,2003-01-09,PM2.5 - Local Conditions,Fresno,Fresno,80,1
3,36.72639,-119.733,2003-01-12,PM2.5 - Local Conditions,Fresno,Fresno,89,1
4,36.72639,-119.733,2003-01-15,PM2.5 - Local Conditions,Fresno,Fresno,102,1
5,36.72639,-119.733,2003-01-18,PM2.5 - Local Conditions,Fresno,Fresno,94,1
6,36.72639,-119.733,2003-01-21,PM2.5 - Local Conditions,Fresno,Fresno,110,1
7,36.72639,-119.733,2003-01-24,PM2.5 - Local Conditions,Fresno,Fresno,60,1
8,36.72639,-119.733,2003-01-27,PM2.5 - Local Conditions,Fresno,Fresno,94,1
9,36.72639,-119.733,2003-01-30,PM2.5 - Local Conditions,Fresno,Fresno,124,1

In [68]:
# Start with the 2003 data and concat all other years
df_concat = df_filter

for year in range(2004,2016):
    with open('../data_raw/airquality/' + str(year) + '.json') as json_file: 
        data = json.load(json_file) 
    df = pandas.read_json(json.dumps(data['Data']))
    df_filter = df.filter(['latitude', 'longitude', 'date_local', 'parameter', 'county', 'city', 'aqi', 'observation_count'], axis=1)
    df_concat = pandas.concat([df_concat, df_filter], ignore_index=True)

In [69]:
df_concat.describe()

           latitude     longitude            aqi  observation_count
count  3.270228e+06  3.270228e+06  162498.000000      169034.000000
mean   3.655556e+01 -1.205063e+02      46.465901           1.872884
std    1.864937e+00  1.846046e+00      26.310288           4.365870
min    3.263124e+01 -1.242014e+02       0.000000           1.000000
25%    3.502083e+01 -1.219882e+02      27.000000           1.000000
50%    3.695326e+01 -1.206803e+02      44.000000           1.000000
75%    3.793601e+01 -1.196434e+02      59.000000           1.000000
max    4.172689e+01 -1.154831e+02     246.000000          24.000000

In [70]:
# Write to csv
df_concat.to_csv('../data/airquality.csv', index=False)